{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CM Ngugi Law</title>
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">

	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}"> -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> 

     <style>
    body, h1, h2,h3, p, ul, li, a {
      font-family: "Calibri", sans-serif, "Roboto", sans-serif !important;
    }  
  </style>

</head>

<body id="index" style="background-color: #C09969!important;">

   
	<header class="header_area" style="background-color: white;">
		<div class="main_menu">
			
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					
					<a class="navbar-brand logo_h" href="{% url 'index' %}"><h3>CM NGUGI ADVOCATES</h3></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    {% with current_url=request.resolver_match.url_name %}

					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item {% if current_url == 'index' %}active{% endif %}" ><a class="nav-link" href="{% url 'index' %}">Home</a></li>
							<li class="nav-item {% if current_url == 'about' %}active{% endif %}"><a class="nav-link" href="{% url 'about' %}">About</a></li>
							<li class="nav-item {% if current_url == 'services' %}active{% endif %}"><a class="nav-link" href="{% url 'services' %}">Service</a></li>
							
							
							
							<li class="nav-item {% if current_url == 'contact' %}active{% endif %}"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav ml-auto">
							<div class="social-icons d-flex align-items-center">
								<a href="">
									<li><i class="fa fa-facebook"></i></li>
								</a>
								<a href="">
									<li><i class="fa fa-twitter"></i></li>
								</a>
								<a href="">
									<li><i class="fa fa-dribbble"></i></li>
								</a>
								<a href="">
									<li><i class="fa fa-behance"></i></li>
								</a>
							</div>
							
						</ul>
					</div>
                    {% endwith %}
				</div>
			</nav>
		</div>
		
	</header>


    {% block content %}
    {% endblock content %}  

    <footer class="footer-area">
        <div class="footer_top section_gap_top" style="padding: 20px 0;"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title" style="font-size: 18px;">About Law</h5> 
                            <p class="about-text" style="font-size: 14px;">The world has become so fast paced that people don’t want to stand by reading a page of information...</p> <!-- Reduced font size for the paragraph -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <h5 style="font-size: 18px;">Contact Info</h5> 
                        <div style="font-size: 14px;"> 
                            <i class="fas fa-headset"></i>
                            <span>Phone: +25472279456, +254745532754</span>
                        </div>
                        <div style="font-size: 14px;"> 
                            <i class="fas fa-envelope-open-text"></i>
                            <span>c.m.ngugirebiro@gmail.com</span>
                        </div>
                        <div style="font-size: 14px;">
                            <i class="fas fa-map-marked-alt"></i>
                            <span>Delta House, 4th Floor, Suite 423
                                  University way, NAIROBI
                                  </span>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h5 class="footer_title" style="font-size: 18px;">Determined</h5> 
                            <p style="font-size: 14px;">Protecting lives by defending lives is what we call hobby in our firm, feel secured enough when you come to us </p> <!-- Reduced font size for the paragraph -->
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-6 col-sm-6 map-column">
                        <h5 class="footer_title" style="font-size: 18px;">Location</h5>
                        <div class="responsive-map-container-footer">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8224091405978!2d36.816075674183274!3d-1.2802076356178622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d345e36ab3%3A0x6be285ea29e59a04!2sDelta%20House%20University%20Way%20-%20A3!5e0!3m2!1sen!2ske!4v1694768816005!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        
                    </div>
                </div>
                <div style="text-align: center; margin-top: 15px;"> 
                    Built by <a href="https://njaneweb.com" target="_blank">njane labs</a>
                </div>
            </div>
        </div>
    </footer>
    

        
<style>

     .responsive-map-container-footer {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;  
    }

    .responsive-map-container-footer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       
    }
    body, h1, h2,h3, p, ul, li, a {
      font-family: "Calibri", sans-serif, "Roboto", sans-serif !important;
      
} 
.navheader {
	text-align: center;
	padding: 20px;
	color: #fff; 
}

</style>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'script.js' %}"></script>
    <script>
	
        document.addEventListener("DOMContentLoaded", function () {
          const testimonialContainer = document.querySelector(".testimonial-carousel");
          const testimonialCards = document.querySelectorAll(".testimonial-card");
          let currentIndex = 0;
          const maxIndex = testimonialCards.length;
        
          function showTestimonials() {
            testimonialCards[currentIndex].classList.add("active");
            currentIndex = (currentIndex + 1) % maxIndex;
            testimonialCards[currentIndex].classList.add("next");
          }
        
        
          for (let i = 0; i < 4; i++) {
            showTestimonials();
          }
        
          
          setInterval(function () {
            testimonialCards[currentIndex].classList.remove("active");
            testimonialCards[currentIndex].classList.remove("next");
            showTestimonials();
          }, 3000);
        });
        
        </script>
        <script>
           
    
    const serviceCards = document.querySelectorAll('.service-card');
    
    serviceCards.forEach(card => {
        card.addEventListener('mouseenter', () => {
            card.classList.add('hover');
        });
    
        card.addEventListener('mouseleave', () => {
            card.classList.remove('hover');
        });
    });
    
        </script>