{% extends "base.html" %}
{% load static %}
{% block title %}Cm Ngugi{% endblock %}
{% block content %}
    
    <section class="intro-section">
        <div class="intro-overlay"></div>
        <div class="container">
            <h1>Blog</h1>
            <p> Welcome to C.M Ngugi Rebiro & Co. Advocates' law blog, 
                where we demystify the legal world. Whether you seek clarity on 
                legal matters, want updates on legal trends, or need expert insights, 
                you're in the right place. Our team provides articles to guide your decisions, 
                clarify legal terms, and empower you with knowledge. Dive in and become legally 
                enlightened.</p>
        </div>
    </section>

    <div class="blog-card-container">
		{% for blog in blogs %}
        
        <div class="blog-card" data-url="{% url 'blogpost' blog.id %}">
            <div class="blog-image">
                
                    <img src="{{blog.image.url}}" alt="Blog Image 1">
                
            </div>
            <div class="blog-content">
                {{blog.title}}</h2>
                <p style="color:black !important">{{ blog.body|truncatewords:20|safe}}</p>
                <a href="{% url 'blogpost' blog.id %}" style="color: black">Read More</a>
            </div>
        </div>
    
		{% endfor %}
    </div>
  
    
    <style>
.blog-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.blog-card {
    flex: 0 0 calc(25% - 20px); 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.2s;
    overflow: hidden;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .blog-card {
        flex: 0 0 calc(100% - 20px); 
    }
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-content {
    padding: 20px;
}

.blog-content h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.blog-content p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.blog-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.blog-content a:hover {
    background-color: #0056b3;
}
  




.intro-section {
    height: 20vh; 
	
}
	.intro-section {
            background-image: url('static/img/law/blog2.jpg'); 
            background-size: cover;
            background-position: center;
            padding: 40px 0;
            text-align: left;
            position: relative;
}
    
.intro-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
}
    
.intro-section h1,
.intro-section p {
            color: #fff; 
            mix-blend-mode: screen; 

}
    
.intro-section h1 {
            font-size: 26px;
            margin-bottom: 20px;
			margin-top: -3%;
}
    
.intro-section p {
            font-size: 16px;
			margin-top: -1%;
			justify-content: center;
			
}

    
        @media (max-width: 768px) {
	.intro-section .container{
		margin-top: 9% !important;
	}
	
  } 

@media (max-width: 768px) {
	
	.header_area .container {
		background-color: #C09969!important;
	}
  } 

  .blog-card {
    cursor: pointer;
}

.blog-card a {
    text-decoration: none;
    color: inherit; 
}

		
    </style>
	
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    const cards = document.querySelectorAll('.blog-card');

    cards.forEach(card => {
        card.addEventListener('click', function() {
            window.location.href = card.getAttribute('data-url');
        });
    });
});

    </script>
	{% endblock %}