{% extends "base.html" %}
{% load static %}
{% block title %}Cm Ngugi{% endblock %}
{% block content %}

<section class="intro-section">
    <div class="intro-overlay"></div>
    <div class="container">
        <h1>Contact Us</h1>
        <p>
            Start your journey to justice by reaching out to C.M Ngugi Rebiro & Co. Advocates. 
			We know legal matters can be overwhelming. Our team is here to listen, guide, and fight for you.
			 With experienced attorneys on board, we address your legal concerns with expertise and dedication. 
			 For questions, advice, or representation, we're just a call or message away. Contact us to safeguard 
			 your rights and give your concerns a voice. Your peace of mind is our top priority.
        </p>
    </div>
	
</section>

<section class="contact_area section_gap">
    <div class="container">
        <section class="contact_us">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div class="contact_inner">
                            <div class="contact_info_sec">
                                <h4 style="color:#f7f7f7">Contact Info</h4>
                                <div class="info_single align-items-center justify-content-center">
                                    <i class="fas fa-headset"></i>
                                    <span>0722 896467</span>
                                </div>
                                <div class="info_single align-items-center justify-content-center">
                                    <i class="fas fa-envelope-open-text"></i>
                                    <span>c.m.ngugirebiro@gmail.com</span>
                                </div>
                                <div class="info_single align-items-center justify-content-center">
                                    <i class="fas fa-map-marked-alt"></i>
                                    <span>Delta House, 4th Floor, Suite 423
										University way, NAIROBI</span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
        
        <div class="responsive-map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.36417784045!2d36.81617!3d-1.282729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10d23845cda7%3A0x63f2172145a7defe!2sC.%20M.%20NGUGI%20REBIRO%20%26%20CO.!5e0!3m2!1sen!2sus!4v1631573141321!5m2!1sen!2sus" allowfullscreen="" loading="lazy"></iframe>
        </div>
        
    </div>
</section>

<style>
.responsive-map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; 
}
        
.responsive-map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:2% ;
}
.intro-section {
    height: 25vh; 
	margin-bottom: -8%;
}

.contact_us{
	margin-bottom: 5% !important;
}

.intro-section {
    background-image: url('static/img/law/blog2.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: left;
    position: relative;
}
    
.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
    
.intro-section h1,
.intro-section p {
    color: #fff; 
    mix-blend-mode: screen; 

}
    
.intro-section h1 {
    font-size: 26px;
    margin-bottom: 20px;
	margin-top: -3%;
}
    
.intro-section p {
    font-size: 16px;
	margin-top: -1%;
	justify-content: center;
			
}
    
@media (max-width: 768px) {
	.intro-section .container{
		margin-top: 9% !important;
	}
	
}
.contact_inner {
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.contact_info_sec {
    background: linear-gradient(to right, #2d2d2d, #1a1a1a);
    border-radius: 15px;
    padding: 40px;
    color: white;
    text-align: center;
}
.contact_info_sec h4 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 40px;
}
.info_single {
    display: flex;
    align-items: center;
    justify-content: center;
        margin: 20px 0;
        font-size: 18px;
    }
    .info_single i {
        font-size: 28px;
        margin-right: 20px;
        color: royalblue;
    }
    .right_conatct_social_icon {
        margin-top: 30px;
    }
    .socil_item_inner li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
    }
    .socil_item_inner li a {
        font-size: 28px;
        color: #fff;
        transition: color 0.3s;
    }
    .socil_item_inner li a:hover {
        color: royalblue;
    }

    @media screen and (max-width: 768px) {
        .contact_info_sec {
            padding: 20px;
        }
    }
</style>

{% endblock %}
