{% extends "base.html" %}
{% load static %}
{% block title %}Cm Ngugi{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <section class="home_banner_area overlay">
		<div class="banner_inner">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner_content">
						<h2>
							Our Fighting Is For Your Justice<br>
							Business with Finance<br>
						</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</p>
						<a class="primary-btn text-uppercase" href="#">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section class="video-sec-area section_gap_top" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 image-left" >
                    <img src="{% static 'img/law/law3.jpg' %}" alt="" style="max-width: 100%; height: auto;">
                </div>
                <div class="col-lg-6 video-right">
                    <h1>Who We Are?</h1>
                    <p style="color: white;">We are a dedicated team of experienced legal professionals committed to upholding justice, advocating for our clients' rights, and navigating the complex world of law with integrity and expertise. With a deep understanding of various legal domains and a passion for ensuring fair and equitable outcomes, we stand as your trusted partners in legal matters. Our unwavering dedication to excellence, combined with a client-centric approach, defines who we are. We take pride in providing personalized, effective, and ethical legal services, and we are here to guide you through every step of your legal journey</p>
                    <a href="#" class="primary-btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    

	<header class="navheader" style="background-color:  #333;color: #fff!important;">
        <h1 style="color: #fff!important;">Our Legal Services</h1>
    </header>

    <section class="services">
        <div class="container-service">
            <div class="service">
                <img src="{% static 'img/law/personalinjurylaw-scaled.jpeg' %}" alt="Service 1 Image">
                <h2>Personal Injury</h2>
                <p>Our knowledgeable team of personal injury attorneys will defend your rights and work to obtain you the compensation that you are due.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/criminal2.jpeg' %}" alt="Service 2 Image">
                <h2>Criminal Defense</h2>
                <p>Our criminal defense attorneys have a proven track record of successfully defending clients against criminal charges</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/family-law.jpg' %}" alt="Service 3 Image">
                <h2>Family Law</h2>
                <p>We provide comprehensive family law services, including divorce, child custody, and child maintenance and spousal support cases.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/real estate.jpeg' %}" alt="Service 4 Image">
                <h2>REAL ESTATE AND CONVEYANCING</h2>
                <p>Our real estate lawyers assist clients with property transactions, contracts, and disputes.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/imigration.jpeg' %}" alt="Service 5 Image">
                <h2>Immigration Law</h2>
                <p>We offer immigration legal services, including visa applications, green card processing, and deportation defense.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/buisness.jpg' %}" alt="Service 6 Image">
                <h2>Business Law</h2>
                <p>Our business lawyers provide legal guidance on contracts, mergers, acquisitions, and business litigation.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/estateplanning.jpeg' %}" alt="Service 7 Image">
                <h2>SUCCESSION AND ESTATE PLANNING</h2>
                <p>We assist clients with estate planning, wills, trusts, and probate and administration matters to secure their family's future.</p>
            </div>
            <div class="service">
                <img src="{% static 'img/law/intellectual-property.jpg' %}" alt="Service 9 Image">
                <h2>Intellectual Property</h2>
                <p>We provide intellectual property services, including patent, trademark, and copyright registration and protection.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/Labour-And-Employment-Law-4.jpg' %}" alt="Service 10 Image">
                <h2>LABOUR AND EMPLOYMENT LAW</h2>
                <p>Our labour and employment lawyers offer legal advice on employment contracts, wrongful termination, discrimination cases, and workplace disputes.</p>
            </div>
    </div>
    </section>

	<header class="navheader"  style="background-color: #333; color: #fff!important;">
		<h1 style="margin: 0; color: #fff!important;">Recent Case Studies</h1>
	</header>
    <section class="services">
        <div class="container-service">
            <div class="service">
                <img src="{% static 'img/law/divorce.jpeg' %}" alt="Service 1 Image">
                <h2>Divorce Settlement</h2>
                <p>Read how we successfully helped a client navigate a complex divorce settlement, ensuring fair distribution of assets and custody arrangements.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/criminal.jpeg' %}" alt="Service 2 Image">
                <h2>Criminal Defense Victory</h2>
                <p>Learn about our recent criminal defense case where we secured a not guilty verdict for our client, protecting their rights and freedom.</p>
            </div>

            <div class="service">
                <img src="{% static 'img/law/imagrants.jpeg' %}" alt="Service 3 Image">
                <h2>Immigration Success</h2>
                <p>Discover how we assisted a client in obtaining a long-awaited visa, enabling them to reunite with their family and pursue their dreams.</p>
            </div>
            </div>
            </section>
	
<header class="navheader"  style="background-color: #333; color: #fff!important;">
	<h1 style="margin: 0; color: #fff!important;">Why Choose Us</h1>
</header>	
<section id="why-choose-us" class="section" style="background-color: #333; color: #fff!important;">
	<div class="container">
	  <div class="row">
		<div class="col-lg-6">
		 
		  <h3 style="color: white;">Experience and Dedication You Can Trust</h3>
		  <ul class="list-unstyled">
			<li>
			  <i class="fas fa-check-circle"></i>
			  <span class="font-weight-bold">Legal Expertise:</span> Our team of experienced attorneys specializes in various areas of law, ensuring you receive expert advice and representation tailored to your needs.
			</li>
			<li>
			  <i class="fas fa-check-circle"></i>
			  <span class="font-weight-bold">Client-Centered:</span> Your concerns and goals are our top priority. We take the time to listen, understand, and provide personalized legal solutions.
			</li>
			<li>
			  <i class="fas fa-check-circle"></i>
			  <span class="font-weight-bold">Proven Success:</span> With a track record of successful cases and satisfied clients, we have a reputation for achieving positive outcomes.
			</li>
			<li>
			  <i class="fas fa-check-circle"></i>
			  <span class="font-weight-bold">Transparent Communication:</span> We believe in open and honest communication. You'll be informed at every step of your legal journey.
			</li>
			<li>
			  <i class="fas fa-check-circle"></i>
			  <span class="font-weight-bold">Dedicated Team:</span> Our team is passionate about the law and dedicated to fighting for your rights and interests.
			</li>
		  </ul>
		</div>
		<div class="col-lg-6">
		
		  <img src="{% static 'img/law/law2.jpg' %}" alt="Law Firm Office" class="img-fluid">
		</div>
	  </div>
	</div>
  </section>
	
<header  class="navheader"  style="color: #fff!important;">
    <h1 style="margin: 0; color: #333!important;">Explore Our Latest Blog Posts</h1>
    <p style="font-size: 18px; color: #333;">Stay updated with our insightful articles on various topics. Discover valuable insights and interesting stories.</p>
</header>
<section class="section_gap blog_area" style="background-color: #333; color: #000!important; font-family: sans-serif!;">
    <div class="container">
      

        <div class="row justify-content-center mt-5">
            {% for latest_blogs in blogs %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-blog" style="background-color: white; border-radius: 15px; padding: 20px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);">
                    <div class="blog-thumb">
                        <img class="img-fluid" src="{{latest_blogs.image.url}}" alt="">
                    </div>
                    <div class="blog-details">
                        <h5><a href="#" style="color: #333; text-decoration: none;">{{latest_blogs.title}}</a></h5>
                        <p style="color: #666;">{{ latest_blogs.body|truncatewords:10|safe }}</p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <a href="{% url 'blog' %}" class="btn btn-primary btn-lg">Read More</a>
            </div>
        </div>
    </div>
</section>

	<header class="navheader"  style="background-color: #333; color: #fff!important; margin-top: 1%;">
		<h1 style="margin: 0; color: #fff!important;">Client Testimonials</h1>
	</header>
	<section id="testimonials">
		<div class="container">
		 
		  <div class="testimonial-carousel">
			<div class="testimonial-card">
			  <img src="{% static 'img/law/0.jpg' %}" alt="Client 1">
			  <p class="testimonial-text">
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus neque. Integer id libero ac velit dignissim luctus."
			  </p>
			  <p class="client-name">John Doe</p>
			</div>
			<div class="testimonial-card">
			  <img src="{% static 'img/law/1.jpg' %}" alt="Client 2">
			  <p class="testimonial-text">
				"Fusce sit amet ex ac metus tristique consequat. Vestibulum non eros at tellus scelerisque egestas eget non metus."
			  </p>
			  <p class="client-name">Jane Smith</p>
			</div>
			<div class="testimonial-card">
				<img src="{% static 'img/law/2.jpg' %}" alt="Client 1">
				<p class="testimonial-text">
				  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at risus neque. Integer id libero ac velit dignissim luctus."
				</p>
				<p class="client-name">John Doe</p>
			  </div>
			  

		  </div>
		</div>
	  </section>

 <header class="navheader"  style="background-color: #333; color: #fff!important;">
    <h1 style="margin: 0; color: #fff!important;">Get in Touch</h1>
  </header>
   <section class="contact_us">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="contact_inner">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="contact_form_inner">
                                    <div class="contact_field">
                                        <h3>Contact Us</h3>
                                        <p>Feel Free to contact us any time. We will get back to you as soon as we can!.</p>
                                        <input type="text" class="form-control form-group" placeholder="Name" />
                                        <input type="text" class="form-control form-group" placeholder="Email" />
                                        <textarea class="form-control form-group" placeholder="Message"></textarea>
                                        <button class="contact_form_submit">Send</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="right_conatct_social_icon d-flex align-items-end">
                                   <div class="socil_item_inner d-flex">
                                      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact_info_sec" style="color: white;">
                            <h4>Contact Info</h4>
                            <div class="d-flex info_single align-items-center">
                                <i class="fas fa-headset"></i>
                                <span>Phone: +25472279456,    +254745532754</span>
                            </div>
                            <div class="d-flex info_single align-items-center">
                                <i class="fas fa-envelope-open-text"></i>
                                <span>c.m.ngugirebiro@gmail.com, cmngugirebirokenol@gmail.com </span>
                            </div>
                        
                            <div class="d-flex info_single align-items-center">
                                <i class="fas fa-map-marked-alt"></i>
                                <span>Delta House, 4th Floor, Suite 423
                                    University way, Opposite Central Police Station
                                    P.O Box 6852-00200
                                    NAIROBI</span>
                            </div>
                        
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}